.sg- {
    &ui9 {
      display: flex;
      align-items: center;
      gap: 8px;
      button {
        text-wrap: nowrap;
        margin-top: 8px;
        padding: 8px 16px;
        border: 1px solid #eef;
        border-radius: 26px;
        background: #0000;
        color: inherit;
      
        &[type="submit"] {
        box-shadow: 0 1px 2px #0004;
          background: #eef;
          color: #000;
        }
      }
    }
  &aaa {
    align-items: center;
    justify-content: center;
    background: #000;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    
    form {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
    
    h1 {
      margin: 1em 0!important;
    }
  }
  &aac {
    padding: 0 16px;
  }
  &aab {
    &[data-loading="true"] {
      opacity: .8;
      pointer-events: none;

     &:after {
       
       transform-origin: left;
        animation: aa 1s infinite;
      background: #2196F3;
     }
    &:before, &:after {
      opacity: 1;
    }
    }
    &:before, &:after {
    opacity: 0;
      height: 4px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      content: '';
      border-radius: 8px;
      background: #8882;
    }
    
    overflow: hidden;
    position:relative;
    box-sizing: border-box;
    gap: 8px;
    width: 600px;
    padding: 24px;
    background: #111112;
    border-radius: 24px;
 //   @media (max-width: 100vh) or (max-width: 900px)  {
      width: 600px;
      flex-direction: column;
    //}
    @media (max-width: 600px) {
      width: 100%;
      border-radius: 0;
      height: 100%;
      form {
        margin-left: 20vw;
      }
    }
  }
  &aad {
  
    margin-top: 8px;
    position: relative;
    height: 48px;
select, input {
      background: #0000;
      outline: none;
      display: block;
      height: 48px;
      width: 100%;
      border: 1px solid #fff8;
      box-sizing: border-box;
      padding: 0 16px;
      color: inherit;
      border-radius: 8px;
      font-size: 12px;
      &:not(:valid):not(:empty) {
        border: 1px solid red;
      }
      &:not(:empty),
      &:valid,
      &:focus  {
       ~ label {
          transform: translate(-6px, -24px);
          color: #fff;
        }
      }
    }
    label {
      pointer-events: none;
      position: absolute;
      font-size: 12px;
      top: 18px;
      left: 10px;
      background: #111112;
      padding: 0 6px;
      color: #888;
      transition: 
      color 300ms,
      transform 300ms;
    }
    span {
      display: block;
      font-size: 12px;
      color: red;
    }
  }
}
@keyframes aa {
  0% {
    transform: scaleX(0);
  }
  80% {
    transform: scaleX(1) translateX(50%);
    background: #FF8C42;
  }
  100% {
    transform: scaleX(1) translateX(100%);
    background: #FF5A5F;
  }
}